# Default values for key-access.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

attributes:
  # Overrides global.opentdf.common.oidcExternalBaseUrl + global.opentdf.common.oidcExternalBaseUrl
  serverUrl: "http://localhost:65432/api/attributes/"
entitlements:
  # Overrides global.opentdf.common.oidcExternalBaseUrl + global.opentdf.common.oidcExternalBaseUrl
  serverUrl: "http://localhost:65432/api/entitlements/"
kas:
  # Overrides global.opentdf.common.oidcExternalBaseUrl + global.opentdf.common.oidcExternalBaseUrl
  serverUrl: "http://localhost:65432/api/kas"
oidc:
  # Overrides global.opentdf.common.oidcExternalBaseUrl + /auth/
  serverUrl: "http://localhost:65432/auth/"
  clientId: "dcr-test"
  # Comma separated list of realms to allow access to in keycloak
  # Assigned to the KEYCLOAK_REALMS environment varibable
  queryRealms: "tdf"

# Where the root for the web app should be, e.g. "/abacus"
# Defaults to the empty path
basePath: ""

replicaCount: 1

image:
  repository: ghcr.io/opentdf/abacus
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: main

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "opentdf-abacus"

podAnnotations: {}

podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
# runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    kubernetes.io/ingress.class:
  className: nginx
  hosts:
    - host: localhost
      paths: &paths
        - path: /(.*)
          pathType: Prefix
    - host: host.docker.internal
      paths: *paths
    - host: opentdf.local
      paths: *paths
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
#   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
